<%= form_for(@letter) do |f| %>
  <% if @letter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@letter.errors.count, "error") %> prohibited this letter from being saved:</h2>

      <ul>
      <% @letter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :number %><br>
    <%= f.text_field :number %>
  </div>
  <div class="field">
    <%= f.label :message %><br>
    <%= f.text_area :message %>
  </div>
  <div class="field">

    <p id='appointment_par'>
      To Request an Appointment Please <br>
      Select a Date Before Sending Message
    </p>

    <%= label_tag 'month:'  %>
    <%= select_tag("month", options_for_select(@month_range)) %> 
 
    <%= label_tag 'day:'  %>
    <%= select_tag("day", options_for_select(@day_range)) %> 

    <%= label_tag 'year:'  %>
    <%= select_tag("year", options_for_select(@year_range)) %> 
    <%= label_tag 'time:'  %>
    <%= select_tag("time", options_for_select(@time_range)) %>
  </div>
  <div class="actions">
    <%= f.submit 'Send Message', :id=> "submit"%>
  </div>
<% end %>

